body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
table {
  border-radius: 2%;
  box-shadow: 2px 2px;
  background-color: #5b5b5b;
}
img {
  width: 100%;
  height: 100%;
}
input {
  background-color: #5b5b5b;
  color: white;
  padding: 2vh;
  border-radius: 20%;
}
#result {
  background-color: lightgreen;
  padding: 5vh;
  color: black;
  border-radius: 5%;
}
