body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
table {
  border-radius: 2%;
  box-shadow: 2px 2px;
  background-color: #5b5b5b;
}
img {
  width: 100%;
  height: 100%;
}
input {
  background-color: #5b5b5b;
  color: white;
  padding: 2vh;
  border-radius: 20%;
  font-weight: bolder;
}
input:hover {
  background-color: #3b3b3b;
}
#result {
  background-color: lightgreen;
  padding: 5vh;
  color: black;
  border-radius: 5%;
  font-size: larger;
  font-style: italic;
  font-weight: bolder;
}

#c,
#on,
#off,
#del {
  background-color: rgb(231, 13, 13);
}
#c:hover {
  background-color: red;
}
